body {
  background-color: #f5f5f5;
  padding: 5px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.conteiner {
  display: grid;
  grid-template-columns: 50%;
}
.title-app {
  margin-top: 17%;
  grid-area: 1/1;
  grid-column: 1/1;
}
.subtitle-app {
  margin-top: 0px;
  font-size: 20px;
  grid-area: 2/1;
}
@media only screen and (max-width: 600px) {
  .conteiner {
    grid-template-columns: auto;
  }
  .title-app {
    margin-top: 20%;
  }
}
